:root {
    --title-color: #111111;
    --main-text-color: #ffffff;
    --second-text-color: #111111;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}

/* ---_-__---_HEADER_______--- --------------------*/

.header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-logo {
font-weight: 700;
font-size: 18px;
line-height: 1.11;
letter-spacing: -0.03em;
color: #111111;
display: flex;
align-items: center;
}

.header-logo span {
    font-style: italic;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 24px;
}

.header-soc {
    display: flex;
    max-width: 66px;
    margin-left: 90px;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.header-menu-link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: #111111;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #fd9222;
}

.header-menu-link:is(:hover, :focus) {
    color: #fd9222;
}


/* ___________________---------HERO */

.hero {
padding-bottom: 72px;
}

.hero-container {
    background-color: rgb(78, 63, 32);
    padding: 381px 40px 40px 40px;
    border-radius: 30px;
}

.hero-title {
font-weight: 500;
font-size: 28px;
line-height: 1.21;
letter-spacing: -0.03em;
color: #FFFFFF;
max-width: 484px;
margin-bottom: 32px;
}


.hero-buttons {
    display: flex;
    align-items: center;
}

.hero-btn {
/* min-width: 144px;
height: 45px; */
padding: 14px 40px;
font-family: inherit;
font-weight: 600;
font-size: 14px;
line-height: 1.21;
color: #FFFFFF;
cursor: pointer;
background: #FD9222;
border-radius: 100px;
border: none;
margin-right: 14px;
}

.hero-link {
    padding: 14px 40px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
font-family: inherit;
font-weight: 600;
font-size: 14px;
line-height: 1.21;
color: #FFFFFF;

}

.hero-scroll-link {
font-family: inherit;
font-weight: 500;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.03em;
color: #FFFFFF;
margin-left: auto;

}

/* __---__-__ BENEFITS */


.benefits {
    max-width: 1166px;
    margin: 0 auto;
background-color: #1E1823;
}

.benefits-list {
display: flex;
padding-left: 18px;
padding-right: 18px;
padding-top: 50px;
padding-bottom: 50px;
gap: 88px;
}

.benefits-item {
width: calc((100%-176px))/3;
}

.benefits-subtitle {
font-weight: 600;
font-size: 18px;
line-height: 1.22;
color: #FFFFFF;
margin-bottom: 18px;
}

.benefits-item-text {
font-weight: 400;
font-size: 14px;
line-height: 1.21; 
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.7);
}

/* -----------------------PRODUCTS------------------ */
.products {
    padding-top: 100px;
    padding-bottom: 100px;
}

.products-title {
font-weight: 600;
font-size: 24px;
line-height: 1.17;   
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111111;
    max-width: 411px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.products-title span {
    color: #FD9222;
}

.products-text {
font-weight: 400;
font-size: 14px;
line-height: 1.29;
text-align: center;
letter-spacing: -0.02em;
color: #111111;
max-width: 486px;
margin: 0 auto;
margin-bottom: 50px;
}

.products-list {
    display: flex;
    gap: 19px;
}

.products-item {
    width: calc((100%-19px*3)/4);
    border-radius: 15px;
    padding: 26px 36px 28px 28px;
}

.products-item:nth-child(even) {
    background-color: #FFFFFF;
    border: 1px solid #FD9222;
    border-radius: 15px;
}

.products-item:nth-child(3) {
    background-color: #1E1823;
}
.products-item:nth-child(1) {
    background-color: #FD9222;;
}

.products-subtitle {
    margin-top: 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-subtitle.light {

}

.products-subtitle.dark {

}

/* -------------___MADE---------------- */

.made {
    padding-bottom: 100px;
}

.made-title {
font-weight: 600;
font-size: 24px;
line-height: 1.17;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111111;
margin-bottom: 50px;
}

.made-title span {
    color: #FD9222;
}

.made-content {
    padding: 32px;
    background-color: #FFFFFF;
        border-radius: 15px;
}

.made-img {}

.made-wrap {
    display: flex;
    gap: 20px;
}

.made-text {
font-weight: 600;
font-size: 18px;
line-height: 1.33;
letter-spacing: -0.02em;
max-width: 350px;
margin-bottom: 28px;
}

.made-list {

max-width: 452px;
padding-left: 16px;

    /* display: flex;
    flex-direction: column;
    gap: 24px; */
}

.made-item:not(:last-child) {
    margin-bottom: 24px;
}

.made-item-text {}

/* --------------------- LOVED --------------------- */

.loved {
    padding-bottom: 100px;
}

.loved-title {
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 1.17;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--second-text-color);
margin-bottom: 91px;
}

.loved-title span {
    color: #FD9222;
}

.loved-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}

.loved-item {
    width: calc((100% - 56px) / 3);
    background-color: #fffFFF;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
        padding: 56px 24px 24px 24px;
}

.loved-subtitle {
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1.33;
text-align: center;
color: #111111;
margin-bottom: 24px;
}

.loved-item-text {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.29;
text-align: center;
letter-spacing: -0.02em;
color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
font-family: inherit;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1.22; 
color: #111111;
cursor: pointer;
    border: 1px solid #FD9222;
    border-radius: 100px;   
    background-color: transparent;
    padding: 14px 40px;
    display: block;
    margin: 0 auto;
}



/* ----------______________---------FOOTER-------__________ */

.footer {
    background-color: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
        max-width: 1166px;
            margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 54px;
    margin-bottom: 24px;
}

.footer-text {
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 1.21;
letter-spacing: -0.02em;
color: #FFFFFF;
max-width: 300px;

}

.footer-text span {
    color: #FD9222;
}

.footer-contacs {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.29;
text-align: center;
color: #FFFFFF;
margin-bottom: 14px;
}

.footer-address {}

.footer-address-list {}

.footer-address-item {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.29;
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;
}

.footer-address-link {}

.footer-navigator {}

.footer-menu {
    display: flex;
    gap: 24px;
}

.footer-menu-item {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
display: flex;
letter-spacing: -0.02em;
color: #FFFFFF;
}

.footer-menu-link {}